@use "sass:map";
@use "../../core/_theme" as theme;

// Colors
$badge-theme-map: (
  primary: (
    default: (
      bg-color: theme.get-tone-from-palette(100, "primary"),
      text-color: theme.get-tone-from-palette(700, "primary"),
    ),
    highlight: (
      bg-color: theme.get-tone-from-palette(200, "primary"),
      text-color: theme.get-tone-from-palette(800, "primary"),
    ),
    emphasis: (
      bg-color: theme.get-tone-from-palette(300, "primary"),
      text-color: theme.get-tone-from-palette(950, "primary"),
    ),
  ),
  secondary: (
    default: (
      bg-color: theme.get-tone-from-palette(100, "secondary"),
      text-color: theme.get-tone-from-palette(700, "secondary"),
    ),
    highlight: (
      bg-color: theme.get-tone-from-palette(200, "secondary"),
      text-color: theme.get-tone-from-palette(800, "secondary"),
    ),
    emphasis: (
      bg-color: theme.get-tone-from-palette(300, "secondary"),
      text-color: theme.get-tone-from-palette(950, "secondary"),
    ),
  ),
  tertiary: (
    default: (
      bg-color: theme.get-tone-from-palette(100, "tertiary"),
      text-color: theme.get-tone-from-palette(700, "tertiary"),
    ),
    highlight: (
      bg-color: theme.get-tone-from-palette(200, "tertiary"),
      text-color: theme.get-tone-from-palette(800, "tertiary"),
    ),
    emphasis: (
      bg-color: theme.get-tone-from-palette(300, "tertiary"),
      text-color: theme.get-tone-from-palette(950, "tertiary"),
    ),
  ),
  neutral: (
    default: (
      bg-color: theme.get-tone-from-palette(100, "neutral"),
      text-color: theme.get-tone-from-palette(700, "neutral"),
    ),
    highlight: (
      bg-color: theme.get-tone-from-palette(200, "neutral"),
      text-color: theme.get-tone-from-palette(800, "neutral"),
    ),
    emphasis: (
      bg-color: theme.get-tone-from-palette(300, "neutral"),
      text-color: theme.get-tone-from-palette(1000, "neutral"),
    ),
  ),
  success: (
    default: (
      bg-color: theme.get-tone-from-palette(100, "success"),
      text-color: theme.get-tone-from-palette(700, "success"),
    ),
    highlight: (
      bg-color: theme.get-tone-from-palette(200, "success"),
      text-color: theme.get-tone-from-palette(800, "success"),
    ),
    emphasis: (
      bg-color: theme.get-tone-from-palette(300, "success"),
      text-color: theme.get-tone-from-palette(950, "success"),
    ),
  ),
  warning: (
    default: (
      bg-color: theme.get-tone-from-palette(100, "warning"),
      text-color: theme.get-tone-from-palette(700, "warning"),
    ),
    highlight: (
      bg-color: theme.get-tone-from-palette(200, "warning"),
      text-color: theme.get-tone-from-palette(800, "warning"),
    ),
    emphasis: (
      bg-color: theme.get-tone-from-palette(300, "warning"),
      text-color: theme.get-tone-from-palette(950, "warning"),
    ),
  ),
  critical: (
    default: (
      bg-color: theme.get-tone-from-palette(100, "critical"),
      text-color: theme.get-tone-from-palette(700, "critical"),
    ),
    highlight: (
      bg-color: theme.get-tone-from-palette(200, "critical"),
      text-color: theme.get-tone-from-palette(800, "critical"),
    ),
    emphasis: (
      bg-color: theme.get-tone-from-palette(300, "critical"),
      text-color: theme.get-tone-from-palette(950, "critical"),
    ),
  ),
);
