@use "sass:map";
@use "./__base" as *;

// Horizontal orientation
.#{$component-prefix}-horizontal {
  flex-direction: row;
  align-items: center;
  gap: 8px;

  .#{$component-prefix}-divider {
    width: 32px;
    height: 24px;

    &::after {
      top: 50%;
      left: 0;
      right: 0;
      height: 1px;
      transform: translateY(-50%);
    }
  }
}
