@use "sass:map";
@use "./__base" as *;

// Vertical orientation
.#{$component-prefix}-vertical {
  flex-direction: column;
  align-items: flex-start;
  gap: 0;

  .#{$component-prefix}-divider {
    width: 32px;
    height: 24px;

    &::after {
      top: 0;
      bottom: 0;
      left: 50%;
      width: 1px;
      transform: translateX(-50%);
    }
  }
}
