@use "sass:map";

@use "../../../shared/theme/tokens/feedbacks/index.scss" as feedback-tokens;
@use "../../../shared/theme/core/theme" as theme;

$component-prefix: theme.get-prefix('switch');

$switch-sizing-map: (
  height: 24px,
  width: 48px,
  border-radius: 24px,
  border-width: 2px,
);

///
/// Switch Default Theme
///

@mixin set-switch-styles() {
  // SWITCH STYLE
  @supports(-webkit-appearance: none) or (-moz-appearance: none) {
    .#{$component-prefix}-switch {
    --active: #83CEF6;
    --active-inner: #0D547F;
    --focus: rgb(131 206 246 / 50%);
    --border: #ABB2B5;
    --border-hover: #818A8F;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: map.get($switch-sizing-map, border-width) solid var(--bc, var(--border));
      background: var(--b, var(--background));
      transition: background .3s, border-color .3s, box-shadow .2s;
      box-sizing: border-box;
      width: map.get($switch-sizing-map, width);
      height: map.get($switch-sizing-map, height);
      border-radius: map.get($switch-sizing-map, border-radius);

      &:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        background: #ABB2B5;
      }

      &:checked {
        &:after {
          background: #0D547F;
          transform: translateX(calc(map.get($switch-sizing-map, width) * 0.5));
        }
      }

      &:after {
        content: '';
        display: block;
        left: 2px;
        top: 2px;
        position: absolute;
        transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
      }

      &:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: .3s;
        --d-t: .6s;
        --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
      }

      &:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: .9;
        &:checked {
          --b: var(--disabled-inner);
          --bc: var(--border);
        }
        & + label {
          cursor: not-allowed;
        }
      }

      &:hover {
        &:not(:checked) {
          &:not(:disabled) {
            --bc: var(--border-hover);
          }
        }
      }

      &:focus {
        box-shadow: 0 0 0 var(--focus);
      }
    }
  }

  // GROUP STYLES
  .#{$component-prefix}-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;


    // LABEL STYLES
    .#{$component-prefix}-label-wrapper {
      display: flex;
      flex-direction: column;
      gap: 0px;

      &:hover {
        cursor: pointer;
      }

      .#{$component-prefix}-label {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        color: #4B5053;
      }

      .#{$component-prefix}-description {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: #5F676C;
      }
    }
  }
}