@forward "../../shared/theme/core/animations";

mnt-icon,
mnt-icon-large {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
  font-size: 0;
}

mnt-icon {
  .mnt-icon-with-background {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;

    svg {
      position: relative;
      z-index: 1;
    }

    .mnt-icon-bg {
      display: block;
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;

      &.mnt-border-circle  {
        border-radius: 50%;
      }

      &.mnt-border-rounded  {
        border-radius: 6px;
      }

      &.mnt-border-square  {
        border-radius: 0;
      }
    }
  }
}