@use 'sass:map';
@use '../../../shared/theme/core/theme' as theme;
@use '../../../shared/theme/tokens/inputs/_field-number' as field-number-tokens;
@use '__base' as base;

$component-prefix: theme.get-prefix('field-number');
$field-number-color-scheme: base.$field-number-color-scheme;
$field-number-size-configs: field-number-tokens.$field-number-size-configs;

mnt-field-number {
  display: block;
  width: 100%;

  .#{$component-prefix}-input-container.#{$component-prefix}-variant-default {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 160px;

    &.#{$component-prefix}-input-container-focused {
      .#{$component-prefix}-input-wrapper {
        border-width: map.get($field-number-color-scheme, focus, border-width);
        border-color: map.get($field-number-color-scheme, focus, border-color);
        outline: map.get($field-number-color-scheme, focus, border-width) solid map.get($field-number-color-scheme, focus, border-color);
      }
    }

    &-focused {
      .#{$component-prefix}-input-wrapper {
        border-width: map.get($field-number-color-scheme, focus, border-width);
        border-color: map.get($field-number-color-scheme, focus, border-color);
        outline: map.get($field-number-color-scheme, focus, border-width) solid map.get($field-number-color-scheme, focus, border-color);
      }
    }

    &-error {
      .#{$component-prefix}-input-wrapper {
        border-width: map.get($field-number-color-scheme, error, border-width);
        border-color: map.get($field-number-color-scheme, error, border-color);
        outline: map.get($field-number-color-scheme, error, border-width) solid map.get($field-number-color-scheme, error, border-color);
      }
    }

    &-success {
      .#{$component-prefix}-input-wrapper {
        border-width: map.get($field-number-color-scheme, success, border-width);
        border-color: map.get($field-number-color-scheme, success, border-color);
        outline: map.get($field-number-color-scheme, success, border-width) solid map.get($field-number-color-scheme, success, border-color);
      }
    }

    &-disabled,
    &:has(input:disabled) {
      .#{$component-prefix}-input-wrapper {
        border-color: map.get($field-number-color-scheme, disabled, border-color);
        background-color: map.get($field-number-color-scheme, disabled, background-color);

        input {
          color: map.get($field-number-color-scheme, disabled, text-color);
        }
      }
    }

    &:hover .#{$component-prefix}-input-wrapper {
      border-color: map.get($field-number-color-scheme, hover, border-color);
    }

    .#{$component-prefix}-input-wrapper {
      flex: 1 0 0;
      display: flex;
      align-items: center;
      padding: 16px 96px 16px 16px;
      border: 1px solid map.get($field-number-color-scheme, default, border-color);
      border-radius: 6px;
      transition: all ease-in-out 0.2s;
      max-height: 56px;
      min-height: 56px;

      // Size variants - Default (aplicado dinamicamente via classe CSS do container)
      @each $size in (small, medium, large) {
        .#{$component-prefix}-size-#{$size} & {
          $config: map.get($field-number-size-configs, $size);
          max-height: map.get($config, height);
          min-height: map.get($config, height);
          padding: map.get($config, input-padding-vertical) 96px map.get($config, input-padding-vertical) map.get($config, input-padding-horizontal);
        }
      }

      input[type='number'] {
        flex: 1 0 0;
        width: 100%;
        padding: 0;
        border: none;
        font-family: 'Poppins Regular', sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: map.get($field-number-color-scheme, text, default);

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          appearance: none;
          margin: 0;
        }
      }
    }

    .#{$component-prefix}-actions {
      position: absolute;
      display: flex;
      gap: 8px;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
