@use 'sass:map';
@use '../../../shared/theme/core/theme' as theme;
@use '../../../shared/theme/tokens/inputs/_field-number' as field-number-tokens;
@use '__base' as base;

$component-prefix: theme.get-prefix('field-number');
$field-number-color-scheme: base.$field-number-color-scheme;
$field-number-size-configs: field-number-tokens.$field-number-size-configs;

mnt-field-number {
  display: flex;
  width: 100%;

  .#{$component-prefix}-input-container.#{$component-prefix}-variant-plain {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: 100%;
    min-width: 84px;
    padding: 6px;
    border: 1px solid map.get($field-number-color-scheme, default, border-color);
    border-radius: 12px;
    transition: all ease-in-out 0.2s;

    // Size variants - Plain
    &.#{$component-prefix}-size-large {
      height: map.get(map.get($field-number-size-configs, large), plain-height);
    }

    &.#{$component-prefix}-size-medium {
      height: map.get(map.get($field-number-size-configs, medium), plain-height);
    }

    &.#{$component-prefix}-size-small {
      height: map.get(map.get($field-number-size-configs, small), plain-height);
    }

    &:hover {
      border-color: map.get($field-number-color-scheme, hover, border-color);
    }

    &.#{$component-prefix}-input-container-focused {
      border-width: map.get($field-number-color-scheme, focus, border-width);
      border-color: map.get($field-number-color-scheme, focus, border-color);
      outline: map.get($field-number-color-scheme, focus, border-width) solid map.get($field-number-color-scheme, focus, border-color);
    }

    &-focused {
      border-width: map.get($field-number-color-scheme, focus, border-width);
      border-color: map.get($field-number-color-scheme, focus, border-color);
      outline: map.get($field-number-color-scheme, focus, border-width) solid map.get($field-number-color-scheme, focus, border-color);
    }

    &-error {
      border-width: map.get($field-number-color-scheme, error, border-width);
      border-color: map.get($field-number-color-scheme, error, border-color);
      outline: map.get($field-number-color-scheme, error, border-width) solid map.get($field-number-color-scheme, error, border-color);
    }

    &-success {
      border-width: map.get($field-number-color-scheme, success, border-width);
      border-color: map.get($field-number-color-scheme, success, border-color);
      outline: map.get($field-number-color-scheme, success, border-width) solid map.get($field-number-color-scheme, success, border-color);
    }

    &-disabled,
    &:has(input:disabled) {
      border-color: map.get($field-number-color-scheme, disabled, border-color);
      background-color: map.get($field-number-color-scheme, disabled, background-color);
      cursor: not-allowed;

      input {
        color: map.get($field-number-color-scheme, disabled, text-color);
      }
    }

    input[type='number'] {
      flex: 1;
      min-width: 0;
      padding: 0;
      text-align: center;
      font-family: 'Poppins Medium', sans-serif;
      font-size: 12px;
      line-height: 16px;
      color: map.get($field-number-color-scheme, text, default);
      font-weight: 500;

      // Size variants - Plain (aplicado dinamicamente via classe CSS do container)
      .#{$component-prefix}-size-large & {
        font-size: map.get(map.get($field-number-size-configs, large), plain-font-size);
        line-height: map.get(map.get($field-number-size-configs, large), plain-line-height);
      }

      .#{$component-prefix}-size-medium & {
        font-size: map.get(map.get($field-number-size-configs, medium), plain-font-size);
        line-height: map.get(map.get($field-number-size-configs, medium), plain-line-height);
      }

      .#{$component-prefix}-size-small & {
        font-size: map.get(map.get($field-number-size-configs, small), plain-font-size);
        line-height: map.get(map.get($field-number-size-configs, small), plain-line-height);
      }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
      }
    }

    mnt-button-icon {
      flex-shrink: 0;
    }
  }
}
