@use "sass:map";
@use "../../../shared/theme/core/theme" as theme;

$component-prefix: theme.get-prefix('tab-item-group-horizontal');
$child-prefix: theme.get-prefix('tab-item');

@mixin set-tab-horizontal-styles() {
  .#{$component-prefix} {
    flex-direction: row;
    min-height: 40px;
    gap: 4px;
    border-bottom: 2px solid;
    padding-bottom: 4px;

    .#{$child-prefix}-selected:not(&-icon) {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background: #0B7CBE;
        margin: auto;
        left: 0;
        bottom: -12px;
      }
    }

    .#{$child-prefix}-icon.#{$child-prefix}-selected {
      &::after {
        bottom: -8px;
      }
    }
  }
}
