@use "sass:map";
@use "../../../shared/theme/core/theme" as theme;
@use "../../../shared/theme/tokens/sizing" as sizing;

$lib-prefix: theme.get-prefix();

// Sizes

$button-size-configs: (
  "small": (
    font-size: 12px,
    icon-size: 14px,
    padding: 8px,
    height: 32px,
  ),
  "medium": (
    font-size: 14px,
    icon-size: 16px,
    padding: 12px 16px,
    height: 48px,
  ),
  "large": (
    font-size: 16px,
    icon-size: 24px,
    padding: 16px 24px,
    height: 56px,
  ),
);

$size-map-small: map.get($button-size-configs, "small");
$border-radius-medium: map.get(sizing.$border-radius, "medium");

@each $size, $configs in $button-size-configs {
  $size-map: map.get($button-size-configs, $size);

  a.#{$lib-prefix}button-full-width,
  button.#{$lib-prefix}button-full-width {
    width: 100%;
  }

  .#{$lib-prefix}button-disabled:hover {
    pointer-events: none;
    cursor: not-allowed;
  }

  button[class^="#{$lib-prefix}button-#{$size}"],
  .#{$lib-prefix}button-#{$size} {
    padding: map.get($size-map, "padding");
    height: map.get($size-map, "height");
    border-radius: $border-radius-medium;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    &:not(:disabled):hover,
    &:not(.button-disabled):hover {
      cursor: pointer;
    }

    &,
    &:hover,
    &:focus {
      transition: all ease-in-out .2s;
    }

    span {
      font-size: map.get($size-map, "font-size");
      font-weight: 500;
    }

    mnt-icon {
      display: inline-flex;
      align-items: center;

      svg {
        height: map.get($size-map, "icon-size");
        width: map.get($size-map, "icon-size");
      }
    }
  }
}

.#{$lib-prefix}button-full-width {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}